
{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Logged In.</h2>
        <a href="#" class="btn-primary">Create Blog</a>
      </div>

      	<form action="/home" method="POST">
  			<input type="text" name="text"></input>
 			<input type="submit" value="POST"></input>
		</form>

		<div class="blog-content">
			{% autoescape false %}
			{% for POST in blog_posts %}
			 <li> {{POST}} </li>
			 {% endfor %}
			 {% endautoescape %}
		</div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
