{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
       <form action="/login" method="POST">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
      </form>

      <div class="section-content">
        <h2>Hello Hackers.</h2> 
      </div>

      <div class="section-device">
        <img src="static/img/device.png">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}